.card-outer-div{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0px 8px 12px 0 rgba(85, 106, 238, 0.37);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    padding: 40px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card-text {
    margin: 50px;
    list-style-type: none;
    padding: 0;
}

.card-text li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.card-text li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.pending:before {
    background-color: #FFCC00; /* Yellow */
}

.accepted:before {
    background-color: #00FF00; /* Green */
}

.rejected:before {
    background-color: #FF0000; /* Red */
}

.download-btn {
    background-color:#130f40; 
    /* background-image: linear-gradient(90deg, #130f40 0%, #000000 74%); */
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
  }
  
  .download-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }



  .custom-dropdown {
    max-height: 10px; /* Default dropdown height */
    overflow: hidden;
  }
  
  .custom-dropdown option {
    max-height: 150px; /* Limits the dropdown height */
  }
  
  .custom-dropdown-scroll {
    overflow-y: auto;
    max-height: 200px; /* Enables scrolling */
  }
  
  
  